  @import 'function';
  @import 'base';
  @import 'var';
  @import 'keyframe'; 

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
  
  ol, ul, li {
    padding: 0;
    list-style: none;
    margin: 0;
  }
  
  label {
    font-weight: normal;
  }
  
  input[type=text], input[type=email], input[type=password] {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  select {
    padding-left: 8px;
  }
  
  input[type=number] {
    padding-left: 5px;
  }
  
  textarea {
    padding: 8px 12px 5px 12px;
  }
  
  input, textarea, select, button, a {
    outline: none;
  }
  
  button {
    border: none;
    background: none;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .cl-white{
    color: #fff!important;
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
    -webkit-object-fit: cover;
    -moz-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
  }
  
  .relative {
    position: relative;
  }
  
  .static {
    position: static;
  }
  
  .absolute, .ef-middle:before {
    position: absolute;
  }
  
  .clearfix:before, .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
  
  @keyframes lac {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-25deg);
    }
    20% {
      transform: rotate(25deg);
    }
    30% {
      transform: rotate(-25deg);
    }
    40% {
      transform: rotate(25deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes zoomin {
    0% {
      transform: scale(0.8);
      opacity: 1;
    }
    100% {
      transform: scale(2.2);
      opacity: 0.1;
    }
  }
  
  @keyframes zoomout {
    0% {
      transform: scale(0.8);
      opacity: 0.8;
    }
    100% {
      transform: scale(1.1);
      opacity: 0.3;
    }
  }
  
  @keyframes xoay {
    0% {
      transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(0deg);
    }
    50% {
      transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(180deg);
    }
    100% {
      transform: skewX(163deg) scaleX(1.1) translate(-39px, 15px) rotateX(360deg);
    }
  }
  
  @keyframes laolen {
    0% {
      transform: translate(0, -15px);
    }
    50% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(0, -15px);
    }
  }
  
  @keyframes cross {
    0% {
      left: -110%;
      top: 90%;
    }
    50% {
      left: -10%;
      top: -30%;
    }
    100% {
      left: -10%;
      top: -10%;
    }
  }
  
  @keyframes c-rotateZ {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  
  @keyframes c-zoom {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.5;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Lato-Regular_2.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Lato-Bold_2.ttf") format("truetype");
    font-weight: bold;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Lato-Medium_0.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
  }
  
  body {
    max-width: 1920px;
    margin: auto;
    line-height: 1.5;
    font-family: "Roboto";
    color: #000;
    font-size: 14px;
  }
  
  h1, h2, h3, h4, h5, p, form {
    margin: 0;
    padding: 0;
  }
  
  button, input, select {
    outline: none !important;
  }
  
  .padding-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .padding-5 {
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .padding-8 {
    padding-left: 8px;
    padding-right: 8px;
  }
  
  .padding-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .padding-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .padding-15 {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .margin-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .margin-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .margin-5 {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .margin-8 {
    margin-left: 8px;
    margin-right: 8px;
  }
  
  .margin-10 {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .margin-15 {
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .line-camp-1 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  .line-camp-2 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .line-camp-3 {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .delay02 {
    animation-delay: 0.2s;
  }
  
  .delay04 {
    animation-delay: 0.4s;
  }
  
  .delay06 {
    animation-delay: 0.6s;
  }
  
  .c-img-25 {
    display: block;
    position: relative;
    padding-top: 25%;
  }
  
  /*header about*/
  .header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .menu{
    ul{
      display: flex;
      li{
        padding: 2.5rem 0;
        font-weight: 700;
        font-size: 1.2rem;
        margin-right: 2rem;
      }
    }
  }
  
  .menu ul li a::before {
    content: "";
    display: block;
    width: 0%;
    height: 0.1875rem;
    background-color: #fce0b9;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .menu ul li a:hover {
    color: #fce0b9;
  }
  
  .menu ul li a {
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 0 0.8rem;
    position: relative;
  }
  /*header about*/
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }
  
  .menu ul li {
    padding-top: 2.4375rem;
  }
  
  .menu ul li a::before {
    content: "";
    display: block;
    width: 0%;
    height: 0.1875rem;
    background-color: #fce0b9;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .menu ul li a:hover {
    color: #fce0b9;
  }
  
  .menu ul li a {
    text-transform: uppercase;
    font-size: 1.125rem;
    margin: 0 0.8rem;
    position: relative;
  }
  .title_about-content{
    font-weight: 600;
    font-size: 1rem;
    color: #044934;
    border-left: 2px solid #044934;
    padding-left: 0.625rem;
    margin-bottom: 1rem;
  }

  .title-about{
    font-size: 24px;
    font-weight: 700;
    color: #044934;
    position: relative;
    margin-top: 5.625rem;
    margin-bottom: 1.5rem;
    &:after{
      content: "";
      position: absolute;
      background: #044934;
      height: 1px;
      width: 3.375rem;
      bottom: 0;
      left: 0;
    }
  }
  .title-big-about{
    font-weight: 700;
    font-size: 3.125rem;
    color: #333333;
    line-height: 1.2;
    margin-bottom: 1.5rem;
  }
  .s-content{
    font-size: 1rem;
  }
  .btn-about{
    background: linear-gradient(90deg, #C19D6B 0%, #F5E89F 52.08%, #C3A068 100%);
    border-radius: 99px;
    width: 10.125rem;
    height: 2.875rem;
    margin-top: 1.5rem;
    color: #044934;
    font-size: 1.125rem;
    text-align: left;
    padding-left: 1.25rem;
    position: relative;
    &:after{
      content: "";
      background-image: url(./../images/arrow-right.svg);
      position: absolute;
      width: 1.375rem;
      height: 1.375rem;
      top: 50%;
      transform: translateY(-50%);
      background-size: cover;
      background-repeat: no-repeat;
      margin-left: 1rem;
    }
  }
  .section_slide_banner{
    position: relative;
    &:after{
      position: absolute;
      content: "";
      background: #044934;
      width: 23.5rem;
      height: 100%;
      top: 0;
      z-index: -1;
    }
    &:before{
      position: absolute;
      background-image: url(./../images/vector_banner1.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

    }
    .slide_banner{
      .swiper-slide{
        img{
        }
        .box-banner{
          content: "";
          position: absolute;
          width: 51.625rem;
          height: 30rem;
          background: rgba(4, 73, 52, 0.65);
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          backdrop-filter: blur(10px);
          border-radius: 5px;
          top: 25%;
          margin-left: 7.375rem;
          padding: 3.5rem 3.875rem 3.5rem 4.5625rem;
          .title_small{
            font-size: 1.5rem;
            font-weight: 700;
            color: #fff;
            margin-bottom: 3.625rem;
            position: relative;
            &:after{
              position: absolute;
              content: "";
              height: 2px;
              width: 4.6875rem;
              background: #fff;
              bottom: -1rem;
              left: 0;
            }
          }
          .title_big{
            font-size: 3.125rem;
            font-weight: 600;
            color: #ffffff;
            margin-bottom: 1rem;
          }
          .s-content{
            color: #ffffff;
          }
          .button_slide{
            background: linear-gradient(90deg, #C19D6B 0%, #F5E89F 52.08%, #C3A068 100%);
            padding: 0.75 2.1rem;
            color: #044934;
            font-size: 1rem;
            margin-top: 1rem;
            width: 10.25rem;
            height: 2.875rem;
          }
        }
      }
      .button-arrow{
        height: 2.4375rem;
        min-width: 2.4375rem;
        border: 1px solid #fff;
        border-radius: 99px;
        &:hover{
          background: linear-gradient(90deg, #C19D6B 0%, #F5E89F 52.08%, #C3A068 100%);;
        }
      }
      .swiper-button-next{
        left: 2.625rem;
        top: 65%;
      }
      .swiper-button-prev{
        left: 2.5625rem;
        top: 60%;
      }
    }
  }
  .section-about-page{
    padding-bottom: 5.1875rem;
    padding-top: 7.75rem;
  }
  .section-bottom-all{
    margin-bottom: 5rem;
    .item{
      height: 13.9375rem;
      width: 16.875;
      background: #ffffff;
      box-shadow: 0px 16px 40px rgba(4, 73, 52, 0.1);
      text-align: center;
      margin-top: 8.75rem;
      .ct-text{
        .cl-title{
          font-size: 1.125rem;
          font-weight: 700;
          }
      }
      .icon{
        padding-top: 1.625rem;
      }
    }
  }

  .about-content{
    margin-bottom: 5rem;
    .content{
      margin-bottom: 2rem;
      .title_about-content{
        font-weight: 600;
        font-size: 1rem;
        color: #044934;
        border-left: 2px solid #044934;
        padding-left: 0.625rem;
        margin-bottom: 1rem;
      }
      .title_big_about{
        margin-bottom: 2rem;
      }
    }
  }

  .about-content{
    .content_policy{
      margin-top: 2.25rem;
      .title_about-content{
        font-weight: 600;
        font-size: 1rem;
        color: #044934;
        border-left: 2px solid #044934;
        padding-left: 0.625rem;
        margin-bottom: 1rem;
      }
      .title_big_about{
        margin-bottom: 1.5rem;
      }
    }
    .tag-distributor__boxs{
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          .item_about{
            display: flex;
            align-items: center;
            font-size: 1rem;
            margin-top: 1.125rem;
            margin-bottom: 1.2rem;
            img{
              margin-right: 0.75rem;
              width: 1.25rem;
              height: 1.25rem;
            }
          }
        }
      }
    }
  }
  .about-content{
    .all_item{
      position: relative;
      &::before{
        content: "";
        position: absolute;
        width: 36.78125rem;
        height: 36.78125rem;
        background: linear-gradient(140.14deg, #13986F 4.99%, #044934 101.18%);
        border-radius: 999px;
        z-index: -1;
      }
    .icon{
      width: 30%;
    }
    .item_about_all{
      display: flex;
      border-radius: 5px; 
      box-shadow: 0px 24px 40px rgba(4, 73, 52, 0.15);
      background: #FFFFFF;
      height: 9.875rem;
      width: 28rem;
      margin-bottom: 1.875rem;
      padding-top: 1.4375rem;
      padding-left: 1.2rem;
      float: right;
      &:nth-child(2) {
        margin-right: 6.25rem;
      }
      &:first-child {
        margin-top: 1.625rem;
      }
      img{
        width: 2.9375rem;
        height: 2.9375rem;
      }
    }
      .content_item{
        .content_item_all{
          font-size: 1rem;
        }
      }
    }
    .item_all{
      margin-top: 1.75rem;
      }
    li{
      text-align: center;
        .title_item_all{
        color: #036EB2;
        font-size: 2.8125rem;
        font-weight: 700;
        }
        .note_item_all{
          font-size: 1.2rem;
          color: #454545;
          font-weight: 600;
          line-height: 1.4;
        }
      }
  }

  .all_product{
    position: relative;
    background-image: url(./../images/banner_product.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    &:after{
      position: absolute;
      background: #044934;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
    }
      .box_product{
      background: linear-gradient(141.22deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.2) 100%);
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      .img_product{
          text-align: center;
          padding: 2.5rem;
        }
      .intros-prds__mains{
        padding: 0 1rem 1rem 1rem;
        .title_product{
          font-size: 1rem;
          font-weight: 600;
          color: #333333;
          }
        .item_rating{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .rating_product{
            .rating{
              font-weight: 400;
              font-style: normal;
              display: inline-block;
              margin: .1rem;
              color: #ffef61 !important;;
              text-rendering: auto;
              font-size: 12px;
              }
            }
            .see-details{
              img{
                margin-left: 0.5rem;
              }
            }
          }
        }
      }
      .title_all_product{
        color: #ffffff;
        padding-top: 5rem;
        padding-bottom: 2.5rem;
        .title_small_product{
          font-size: 1rem;
        }
      }
      .button_about{
        padding-bottom: 4.5625rem;
      }
    }

  .about_partner{
    background-image: url(./../images/banner_partner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5rem;
    margin-top: 5rem;
    max-height: 464px;
    .title_all_partner{
      text-align: center;
      padding-top: 7.375rem;
      padding-bottom: 5.375rem;
      .title_partner{
        color: #ffffff;
      }
      .s-content{
        font-size: 1rem;
        color: #ffffff;
      }
    }
    .feedback__slider{
      .mySwiper_partner{
        position: initial;
        .partner_all{
          background: #ffffff;
          text-align: center;
          padding-left: 1.375rem;
          padding-right: 1.375rem;
          .img_partner{
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            top: -50px;
            box-shadow: 0px 24px 40px rgba(4, 73, 52, 0.1);
          }
          .name{
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 0.6rem;
            margin-top: 1.9rem;
          }
          .s-content{
            padding-top: 55px;
          }
          &:before{
            position: absolute;
            content: "";
            background: #044934;
            bottom: 0;
            left: 25%;
            top: 70%;
            height: 2px;
            width: 8.375rem;
          }
        }
        .swiper-button-next{
          right: -2.8125rem;
         img{
          position: absolute;
          right: 25%;
        }
      }
      .swiper-button-prev{
        left: -2.8125rem;
        img{
          position: absolute;
          left: 25%;
        }
      }
    }
    .button_arrow{
      min-width: 1.875rem;
      height: 1.875rem;
      background: linear-gradient(90deg, #C19D6B 0%, #F5E89F 52.08%, #C3A068 100%);
      border-radius: 99px;
      }
    }
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    display: none;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
}

  .section_news{
    margin-bottom: 5rem;
    .content_policy{
      margin-bottom: 2.875rem;
    }
    .infor_news{
      .title_news{
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 0.7rem;
      }
      .button_news{
        border: 1px solid #044934;
        box-sizing: border-box;
        border-radius: 99px;
        background-color: #ffffff;
        width: 150px;
        height: 40px;
        margin-top: 0.7rem;
        color: #044934;
        &:hover{
          background: linear-gradient(90deg, #C19D6B 0%, #F5E89F 52.08%, #C3A068 100%);
          border: 0;
        }
      }
    }
    .img_big{
      margin-top: 135px;
    }
    .our_news_slide{
      .swiper-pagination-bullet-active{
        background: #044934;
        height: 4px!important;
        width: 1.5rem!important;
      }
      .swiper-pagination-bullet{
        width: 0.5rem;
        height: 0.25rem;
        border-radius: 2px;
      }
    }
  }

  .section_customer{
    .content_policy{
      text-align: center;
      .title_about-customer {
        font-weight: 600;
        font-size: 1rem;
        color: #044934;
        margin-bottom: 1rem;
      }
      .title_big_about{
        margin-bottom: 1.4375rem;
      }
    }
    .item_customer{
      box-shadow: 10px 24px 40px -10px rgba(4, 73, 52, 0.1);
      margin-top: 2.5rem;
      ul{
        li{
          display: flex;
          .infor_customer{
            margin-left: 1rem;
            .number{
              font-size: 2.5rem;
              color: #04865E;
              font-weight: bold;
            }
          }
        }
      }
    }
    .our-courses__tabs{
      .our-courses__slider{
        margin-top: 2rem;
        margin-bottom: 1.9rem;
        ._slide{
          padding: 0.5rem 2.5rem;
          font-size: 1rem;
          color: #454545;
          background: palegoldenrod;
          &:hover{
            background: linear-gradient(90deg, #C19D6B 0%, #F5E89F 52.08%, #C3A068 100%);
            color: #044934;
          }
        }
        .swiper-slide-active{
          ._slide{
          background: linear-gradient(90deg, #C19D6B 0%, #F5E89F 52.08%, #C3A068 100%);
          color: #044934;
          opacity: 1;
          }
        }
        .swiper-slide{
          background-color: #fff;
          min-height: 100%;
          ._partner{
            padding: 0.7rem;
            border-radius: 5px;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
            border: 1px solid #EBEBEB;
            box-sizing: border-box;
            background: #FFFFFF;
            -webkit-transition: .5s all ease;
            transition: .5s all ease
              img{
                min-height: 6.875rem;
                object-fit: scale-down;
              }
          }
        }
      }
    }
  }
  @media (max-width: 1200px)
  {
    .section_news .infor_news .title_news{
      font-size: 1rem;
    }
    .about_partner .feedback__slider .mySwiper_partner .partner_all:before{
      left: 5.0625rem;
      top: 10.0625rem;
    }
    .about_partner .title_all_partner .s-content{
      font-size: 0.8rem;
    }
    .about_partner .title_all_partner{
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .s-content{
      font-size: 0.8rem;
    }
    .all_product .button_about{
      padding-bottom: 1rem;
    }
    .all_product .title_all_product{
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .about-content .all_item .content_item .content_item_all{
      font-size: 0.8rem;
    }
    .section-bottom-all .item .ct-text .cl-title{
      font-size: 1rem;
    }
    .title-big-about{
      font-size: 1.5rem;
      margin-bottom: 0.8rem;
    }
    .title-about{
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
    .btn-about{
      font-size: 0.9rem;
    }
    .about-content .tag-distributor__boxs ul li .item_about{
      font-size: 0.8rem;
      margin-bottom: 0.7rem;
      margin-top: 0.7rem;
    }
    .section_customer .item_customer ul li .infor_customer .number{
      font-size: 1.8rem;
    }
    .about-content li .note_item_all{
      font-size: 0.8rem;
    }
    .about-content li .title_item_all{
      font-size: 1.2rem;
    }
    .about-content{
      margin-bottom: 0;
    }
  }
  @media (max-width: 991.98px)
  {
    .section_news{
      margin-bottom: 2rem;
    }
    .footer-top .nav_footer{
      padding: 0;
    }
    .footer-top .infor_company .address ul li .infor{
      margin-left: 0.5rem;
    }
    .section_news .img_big{
      margin-top: 0;
    }
    .section_news{
      .infor_news{
        text-align: center;
      }
    }
    .about_partner .feedback__slider .mySwiper_partner .partner_all:before{
      display: none;
    }
    .section_customer .our-courses__tabs .our-courses__slider ._slide{
      padding: 0.5rem 1.5rem;
    }
  }


/*trang chủ*/

.section_news{
  .title_small{
    margin-bottom: 0.875rem;
    font-size: 1rem;
    font-weight: 700;
  }
  .title_big{
    font-size: 1.875rem;
    color: #044934;
    font-weight: 700;
    margin-bottom: 1.75rem;
  }
  .box_news{
    .news-items-titles{
      margin-left: 0;
      .time{
        margin-bottom: 1.6875rem;
      }
    }
    .img_news{
      width: 100%;
    }
  }
  .news-items-titles{
    margin-left: 1rem;
    .title_news{
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    .time{
      display: flex;
      font-size: 0.75rem;
      align-items: center;
      .category{
        margin-left: 0.9rem;
        color: #044934;
        img{
          margin-right: 0.5625rem;
        }
      }
    }
  }
}
.form-contact-page{
  background-image: url(./../images/banner_contact.png);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  padding-bottom: 9.375rem;
  z-index: 0;
  &:after{
    position: absolute;
    content: "";
    background: rgba(4, 73, 52, 0.8);
    backdrop-filter: blur(10px);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }
  .title_small{
    letter-spacing: 0.3125rem;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
  }
  .title_big_contact{
    font-family: "San Francisco Display";
    font-weight: 700;
    font-size: 1.875rem;
    margin-bottom: 2rem;
    margin-top: 0.75rem;
    color: #fff;
  }
  .form{
    .form-group{
      z-index: 1;
      img{
        position: absolute;
        content: "";
        width: 1.25rem;
        height: 1.25rem;
        top: 50%;
        z-index: 1;
        left: 1.375rem;
        margin-top: -0.625rem;
      }
      .input-form{
        padding-top: 0.6875rem;
        padding-bottom: 0.6875rem;
        padding-left: 3.125rem;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        backdrop-filter: blur(8px);
        font-size: 1rem;
      }
    }
    .button{
      float: right;
      margin-top: 1.5rem;
      .button_contact{
        background: linear-gradient(90deg, #C19D6B 0%, #F5E89F 52.08%, #C3A068 100%);
        padding: 0.6875rem 1.375rem;
        font-size: 1rem;
        font-weight: 600;
        color: #044934;
        width: 10.4375rem;
        &:hover{
          background: #fff;
        }
      }
    }
  }
}
.section_all{
  margin-top: 5rem;
  margin-bottom: 5rem;
  .title_small_all{
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
  }
  .row{
    .mb-3{
      .title_small{
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0.75rem;
      }
      .tittle_big{
        font-size: 1.875rem;
        font-weight: 700;
        color: #044934;
        margin-bottom: 2rem;
      }
      img{
        width: 100%;
      }
    }
  }
}
.section_value{
  padding-top: 5rem;
  .title_small_value{
    font-size: 1rem;
    background: linear-gradient(90deg, #C19D6B 0%, #F5E89F 52.08%, #C3A068 100%);
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.3em;
  }
  .title_big_value{
    color: #fff;
    font-weight: 600;
    font-size: 1.875rem;
  }
  .item_value_all{
    ul{
      display: flex;
      justify-content: space-around;
      padding: 5.3125rem;
      text-align: center;
      align-items: center;
      li{
        position: relative;
        img{
          margin-bottom: 1rem;
        }
        .content_item{
          color: #fff;
          display: inline-block;
          &:after{
            content: "";
            background: #fff;
            height: 3px;
            width: 3.0625rem;
            margin-top: 0.5rem!important;
            display: block;
            margin: auto;
          }
        }
      }
    }
  }
}
.all_product{
  .title_small_product{
    font-size: 1rem;
    background: linear-gradient(90deg, #C19D6B 0%, #F5E89F 52.08%, #C3A068 100%);
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 0.3em;
    margin-bottom: 0.75rem;
  }
}

.section_vision{
  margin-top: 4.5rem;
  margin-bottom: 5rem;
  .title_small_all{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }
  .tittle_big{
    color: #044934;
    font-size: 1.875rem;
    font-weight: 700;
    padding-right: 3.25rem;
  }
  .mb-2{
    img{
      width: 100%;
    }
  }
}
.section_contact{
  margin-top: 5rem;
  .title_small{
    margin-bottom: 0.875rem;
    font-size: 1rem;
    font-weight: 700;
  }
  .title_big{
    font-size: 1.875rem;
    color: #044934;
    font-weight: 700;
    margin-bottom: 1.75rem;
  }
  .item_contact_all{
    ul{
      li{
        display: flex;
        margin-bottom: 0.5rem;
        align-items: center;
        img{
          margin-right: 1rem;
          width: 1rem;
          height: 1rem;
        }
        .content_cover{
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }
  .our-partners__slider{
    .swiper-container{
      img{
        box-shadow: 0px 2px 10px rgba(46, 119, 196, 0.15);
        min-width: 110px;
        object-fit: scale-down;
      }
    }
  }
}
.section_philosophy{
  .title_small{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }
  .our_philosophy__slide{
    .swiper{
      .swiper-wrapper{
        .swiper-slide{
          &:hover{
            background: rgba(51, 51, 51, 0.5);
            backdrop-filter: blur(10px);
          }
          .content_philosophy{
            position: absolute;
            content: "";
            bottom: 0;
            padding-top: 2.25rem;
            padding-bottom: 3.125rem;
            padding-left: 2rem;
            color: #fff;
            background: #333333;
            opacity: 0.5;
            width: 100%;
            .item_title{
              font-size: 1.2rem;
              opacity: 1!important;
              position: relative;
              &:after{
                content: "";
                height: 2px;
                background: #FFFFFF;
                width: 3.75rem;
                position: absolute;
                bottom: -5px;
                left: 0;
              }
            }
          }
        }
      }
    }
  }
}
.section_manufacture{
  .title_small{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 2.375rem;
  }
  .title_big{
    color: #044934;
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }
  .intro__item{
    &:nth-child(even){
      display: flex;
      flex-direction: column-reverse;
    }
    .img__video{
      position: relative;
      .video{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        position: absolute;
        content: "";
        bottom: 0;
        display: flex;
        align-items: center;
        background: rgba(51, 51, 51, 0.5);
        width: 100%;
        &:hover{
          background: coral;
        }
        .next-right{
          margin-left: 2rem;
          margin-right: 1rem;
          border-radius: 99%;
          border: 1px solid #fff;
          min-width: 2.125rem;
          height: 2.125rem;
          background-color: transparent;
          img{
            height: 1.1875rem;
            width: 1.1rem;
          }
        }
        .text-video{
          color: #fff;
        }
      }
    }
  }
  .content__{
    padding-left: 2.5rem;
    font-size: 1rem;
    ul{
      list-style: inherit;
      li{
        list-style: inherit;
      }
    }
  }
}
.footer-top{
  background: #044934;
  background-image: url(./../images/banner_footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .nav_footer{
    padding-top: 5rem;
    ul{
      margin-bottom: 1.875rem;
      li{
        margin-bottom: 0.5625rem;
      }
    }
    .title_footer{
      font-size: 1.2rem;
      margin-bottom: 1.375rem;
    }
    .footer__socials ._social {
      min-width: 2rem;
      padding: 10px;
      background-color: #fff;
      color: #474747;
      width: 2rem;
      height: 2rem;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: .5s all ease;
      transition: .5s all ease;
      &:hover{
        background: #044934;
      }
      .fa{
        font-size: 1.3rem;
      }
    }
  }
  .infor_company{
    padding-top: 2rem;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2.5rem;
    .name_company{
      font-weight: 600;
      font-size: 1rem;
    }
    .address{
      ul{
        display: flex;
        li{
          display: flex;
          align-items: center;
          text-align: center;
          margin-right: 1rem;
          .infor{
            font-size: 1rem;
            margin-left: 0.8rem;
          }
          .i-con{
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }
}
.footer-bottom{
  .footer_nav{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/*trang chủ*/